.Colleensdog { /* Step2 : Adjust the position of image(margin: top right bottom left px)  */
    width: 50%;
    height: -10%;
    margin: auto;
}

.Container {  /*Step1 : Create container */
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-photo/shot-bright-green-freshly-mowed-lawn_181624-18567.jpg?semt=ais_hybrid&w=740&q=80");
}

nav {
    font-size: 25px;
    background-color: rgb(237, 178, 14);
}

nav img {
    max-width: 3%;
    max-height: auto;
}

h1{
    background-color: rgb(246, 241, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 300%;
    color:rgb(255, 0, 102);
    position: relative;

}

main p{
    display: table-cell;
    width: 50%;
    font-size: 180%;
    line-height: auto;
    background-color: rgb(220, 91, 211);
    text-align: left;
}

main {
    display: table;
}

.LineOfPhotos img {
    width: 30%;
    display: inline-block;
    align-items: Rightr;
}

footer {
    background-color: rgb(216, 241, 255);
    Text-align: left;
    font-size: 180%;
}

